<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <link rel="stylesheet" href="verification-template.css">
        <title>Account verification</title>
    </head>
    <body>
        <div class="header">
            <span th:text="#{email.verification.welcome}" class="header__caption"></span>
            <img th:src="@{img/trak-logo.png}" alt="Trak Logo">
        </div>
        <h1 th:text="#{email.verification.header}"></h1>
        <p th:text="#{email.verification.thank-you}"></p>
        <p th:text="#{email.verification.confirmation}"></p>
        <h1 th:text="#{email.verification.verification-code(${verificationCode})}">1234</h1>
        <p th:text="#{email.verification.instructions}"></p>
    </body>
</html>